html {
  font-family: "Noto Serif", serif;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border-radius: 8px;
}

.footer {
  color: #fff;
  padding: 2em;
  background-color: #70ad55;
}

.header {
  background-color: #70ad55;
  color: #fff;
  padding: 2em;
}
