html {
  font-family: "Noto Serif", serif;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border-radius: 8px;
  border-color: #6e8c62;
}

.footer {
  color: #fff;
  padding: 1em;
  background-color: #70ad55;
}

.header {
  background-color: #70ad55;
  color: #fff;
  padding: 1em;
  padding-top: 1.5em;
}

input,
select {
  border-color: #6e8c62;
}

i {
  color: #70ad55;
}

.personal {
  padding-top: 2em;
}

label {
  padding-bottom: .3rem;
}

p {
  margin: 0;
}
