html {
  font-family: "Noto Serif", serif;
}

.btn {
  background-color: #6e8c62;
  color: #fff;
  border-radius: 8px;
  border-color: #6e8c62;
}

.footer {
  color: #fff;
  padding: 1em;
  background-color: #70ad55;
}

.header {
  background-color: #70ad55;
  color: #fff;
  padding: 1em;
  padding-top: 1.5em;
}

fieldset {
  border: none;
}

select,
input,
textarea,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border-color: #6e8c62;
}

i {
  color: #70ad55;
}

label {
  padding-bottom: .2rem;
}

p {
  margin: 0;
}

.border {
  border-bottom: 2px thin #70ad55;
}

hr {
  border-color: #70ad55;
}
